In [1]:
import sys
sys.path.append("../")

In [2]:
%load_ext autoreload
%autoreload 2
from ml_hep_tracking.models import DeepNeuralNet, LGBM
from ml_hep_tracking.preprocessing import data_pipeline
from ml_hep_tracking.utils import get_data, shuffle_arrays

Using TensorFlow backend.

In [3]:
import pandas as pd

In [4]:
import pathlib
DATASET_PATH = pathlib.Path('../data_mlhep2017/DS_1_train.csv')

train_df, test_df = get_data(DATASET_PATH)

In [5]:
train_df.head()

,index,event_id,X,Y,Z,TX,TY,chi2,signal
478529,478529,-999,70536.734375,54893.789062,63357.0,0.399330,0.124349,1.893766,0
906933,906933,-999,51661.796875,66668.953125,34911.0,-0.059654,0.403125,0.384596,0
771028,771028,-999,71366.585938,66274.781250,40083.0,-0.286347,-0.380841,2.582410,0
326743,326743,-999,41645.906250,12144.453125,60771.0,0.161012,0.120340,2.783556,0
891041,891041,-999,39456.769531,43884.652344,54306.0,0.297656,-0.205432,2.553855,0

In [6]:
train_df.describe()

,index,event_id,X,Y,Z,TX,TY,chi2,signal
count,7.862230e+05,786223.000000,786223.000000,786223.000000,786223.000000,786223.000000,786223.000000,786223.000000,786223.000000
mean,5.613046e+05,-51.735681,50187.278986,40191.555223,36948.293627,-0.000025,0.001162,1.973560,0.045516
std,3.241373e+05,5436.912217,12444.820593,20532.655764,21281.756755,0.302364,0.317821,0.760289,0.208434
min,0.000000e+00,-999.000000,27762.531250,3319.980469,0.000000,-0.996548,-0.999044,0.019624,0.000000
25%,2.805800e+05,-999.000000,39504.382812,22219.257812,18102.000000,-0.233663,-0.250502,1.425806,0.000000
50%,5.608230e+05,-999.000000,50380.003906,40276.746094,37497.000000,-0.000260,0.003078,2.150352,0.000000
75%,8.420020e+05,-999.000000,60793.224609,57975.843750,55599.000000,0.235007,0.251395,2.614520,0.000000
max,1.123176e+06,49513.000000,72227.281250,76694.054688,72408.000000,0.998503,0.999602,3.000000,1.000000

In [7]:
len(train_df['event_id'].unique())

101

In [8]:
train_df['event_id'].value_counts()

-999      750437
 411        2107
 24423      1527
 6654       1489
 12128      1263
 9110        903
 5294        807
 739         768
 14007       766
 33945       765
 5586        747
 43358       736
 45475       732
 27558       674
 912         667
 1919        661
 32733       613
 27354       591
 6551        589
 38637       579
 11904       554
 49513       529
 7027        496
 3009        467
 3244        452
 17847       428
 36172       425
 46418       419
 38383       410
 5207        376
           ...
 22396       172
 48293       169
 29          168
 710         165
 28229       161
 14451       157
 11548       156
 36064       155
 43048       150
 9674        150
 3731        144
 35192       141
 36057       137
 30167       130
 6780        128
 7716        125
 38720       123
 32725       121
 26280       114
 30603       108
 36628       108
 18740       104
 19167       104
 7069         98
 29180        96
 22207        94
 14155        93
 10180        89
 26749        74
 38613        70
Name: event_id, Length: 101, dtype: int64

In [9]:
true_events = train_df[train_df['event_id'] != -999].copy()

In [10]:
true_events.head()

,index,event_id,X,Y,Z,TX,TY,chi2,signal
173027,173027,5294,54542.996094,23498.103516,59478.0,-0.267959,0.261389,0.668103,1
483923,483923,3009,54336.457031,49987.535156,46548.0,0.070085,0.025079,0.390442,1
794522,794522,5586,44833.660156,57492.250000,47841.0,-0.125414,0.163239,0.360280,1
310978,310978,29,40527.925781,28469.480469,63357.0,0.363918,-0.078953,1.989602,1
805462,805462,5294,58759.496094,20945.890625,58185.0,-0.081031,0.061928,0.708806,1

In [11]:
events = true_events.drop(['index'], axis=1)

In [12]:
events.head()

,event_id,X,Y,Z,TX,TY,chi2,signal
173027,5294,54542.996094,23498.103516,59478.0,-0.267959,0.261389,0.668103,1
483923,3009,54336.457031,49987.535156,46548.0,0.070085,0.025079,0.390442,1
794522,5586,44833.660156,57492.250000,47841.0,-0.125414,0.163239,0.360280,1
310978,29,40527.925781,28469.480469,63357.0,0.363918,-0.078953,1.989602,1
805462,5294,58759.496094,20945.890625,58185.0,-0.081031,0.061928,0.708806,1

In [13]:
import numpy as np

In [14]:
events.sort_values('event_id')

,event_id,X,Y,Z,TX,TY,chi2,signal
217938,29,40011.656250,32189.177734,69822.0,0.041732,0.439700,0.477906,1
308099,29,38609.125000,20339.082031,42669.0,0.032143,-0.047359,0.578637,1
835047,29,39567.492188,23485.277344,47841.0,0.016853,0.350911,1.303366,1
70333,29,39254.878906,28891.820312,64650.0,0.012393,0.335152,1.378288,1
558450,29,40143.570312,25234.236328,51720.0,0.211733,0.652995,0.306118,1
656683,29,38774.277344,21448.902344,42669.0,-0.524121,0.457264,2.413491,1
132371,29,39772.632812,26091.167969,62064.0,0.262677,0.176674,0.649119,1
819054,29,39619.703125,24318.421875,50427.0,0.071136,0.263867,1.535347,1
863407,29,39345.093750,25001.410156,53013.0,0.764509,-0.125135,1.503476,1
39666,29,39814.191406,22476.257812,49134.0,0.115699,0.087709,0.970971,1
542379,29,38191.210938,29586.863281,69822.0,-0.336640,-0.126032,0.388349,1
912223,29,39774.574219,31287.062500,72408.0,-0.004669,0.797563,1.011729,1
210940,29,39149.066406,30540.871094,69822.0,-0.072559,0.347633,0.582881,1
1039734,29,39412.289062,30230.449219,71115.0,-0.177534,-0.001404,1.755934,1
502139,29,40075.558594,32746.482422,71115.0,0.089602,0.450474,1.905654,1
698949,29,37936.589844,30523.046875,71115.0,-0.494429,0.349707,0.812607,1
1025748,29,39710.765625,24652.718750,51720.0,0.057836,0.217041,0.633891,1
852402,29,39306.101562,31369.689453,72408.0,-0.104367,0.208138,1.394054,1
812374,29,39073.558594,20297.871094,38790.0,-0.089230,0.336105,0.497429,1
276874,29,38391.492188,29561.587891,67236.0,-0.683185,0.699526,1.681480,1
308905,29,39296.507812,29725.449219,67236.0,0.060565,0.344568,0.439923,1
50146,29,39037.457031,28528.644531,64650.0,-0.021656,0.231594,0.784928,1
844017,29,37265.664062,30833.378906,72408.0,-0.535240,-0.059333,1.342823,1
1042316,29,39049.027344,23676.660156,49134.0,0.017950,0.369192,0.659723,1
564526,29,39508.945312,22043.960938,46548.0,0.141592,0.124005,0.820471,1
475081,29,39426.980469,26269.039062,56892.0,0.124102,0.418331,1.029587,1
531200,29,39101.367188,24633.978516,51720.0,-0.007045,0.327167,0.299353,1
795839,29,39160.953125,30936.453125,71115.0,-0.011198,0.303483,0.732162,1
681175,29,38389.292969,30074.511719,69822.0,-0.406478,0.342081,0.411848,1
894301,29,39073.742188,24152.437500,50427.0,0.016709,0.395224,0.684921,1
...,...,...,...,...,...,...,...,...
166122,49513,61721.140625,60319.441406,37497.0,0.533278,-0.219164,0.872092,1
214413,49513,61325.015625,61072.343750,51720.0,0.235914,0.342439,0.720263,1
578361,49513,61258.847656,60860.609375,63357.0,-0.010012,0.015072,0.476099,1
737229,49513,61234.101562,61174.929688,60771.0,-0.140113,-0.060282,1.262897,1
53712,49513,60926.273438,61526.070312,65943.0,-0.279227,-0.024075,0.583621,1
45930,49513,61660.667969,61399.011719,64650.0,0.190090,0.235077,1.685941,1
234336,49513,61465.855469,60722.445312,49134.0,-0.016820,0.016230,0.649729,1
783524,49513,61565.992188,60608.656250,46548.0,-0.020485,0.021145,1.138544,1
371619,49513,61804.585938,60366.027344,32325.0,-0.056306,0.015662,0.538021,1
711432,49513,61468.160156,61428.242188,53013.0,-0.139630,0.180548,0.890374,1
342571,49513,60886.687500,60166.578125,65943.0,0.069020,-0.385324,0.750913,1
1045211,49513,61144.175781,60130.367188,58185.0,-0.770945,-0.072433,0.696030,1
477312,49513,60824.015625,60222.695312,50427.0,-0.061226,0.127353,0.282058,1
183346,49513,60082.925781,61400.472656,71115.0,-0.788486,0.575781,1.383309,1
58110,49513,61855.078125,60320.324219,29739.0,-0.016243,0.017885,0.683655,1
42173,49513,62302.433594,60764.261719,60771.0,0.140239,0.007343,0.643460,1
1056336,49513,61656.742188,60710.105469,54306.0,0.142146,0.022903,1.374783,1
765528,49513,61115.730469,61466.726562,64650.0,-0.103530,0.112598,0.162908,1
238427,49513,61702.464844,61159.171875,69822.0,0.352488,0.118871,0.890832,1
271724,49513,60900.882812,61117.835938,68529.0,-0.278748,-0.134454,1.582062,1
669917,49513,61125.632812,60985.687500,68529.0,-0.035054,-0.041081,1.011556,1
49378,49513,61715.312500,60492.269531,38790.0,-0.014221,0.024763,0.902873,1
194516,49513,60854.605469,60861.402344,62064.0,-0.216527,-0.021903,0.673047,1
548593,49513,61711.207031,60447.242188,37497.0,-0.016188,0.010919,0.731500,1
508809,49513,61695.460938,60465.796875,42669.0,0.051093,0.084184,0.753494,1
138398,49513,60930.292969,60535.601562,72408.0,-0.150358,-0.114444,0.460037,1
500547,49513,61547.859375,61286.839844,63357.0,0.470991,-0.274981,1.894757,1
375661,49513,61539.421875,60670.156250,49134.0,0.053060,0.082915,1.146254,1
987928,49513,59583.695312,61496.984375,59478.0,-0.318843,-0.078850,0.483274,1
411071,49513,62481.644531,60586.449219,42669.0,0.384459,0.222238,1.365227,1

In [15]:
events['track_id'] = events.groupby('event_id').cumcount()

In [16]:
events.sort_values(['event_id','track_id'])

,event_id,X,Y,Z,TX,TY,chi2,signal,track_id
310978,29,40527.925781,28469.480469,63357.0,0.363918,-0.078953,1.989602,1,0
836738,29,39118.105469,26100.332031,56892.0,-0.004092,0.308380,0.651321,1,1
262683,29,38871.402344,29117.496094,67236.0,-0.022586,0.252376,1.155281,1,2
308099,29,38609.125000,20339.082031,42669.0,0.032143,-0.047359,0.578637,1,3
187866,29,39159.531250,20733.701172,40083.0,-0.009621,0.297754,1.275150,1,4
1078706,29,39224.781250,28028.431641,62064.0,0.009552,0.334501,1.064607,1,5
1064114,29,40250.796875,33308.226562,72408.0,0.226879,0.598507,0.229727,1,6
765781,29,39117.796875,26492.003906,58185.0,0.011509,0.323582,0.870148,1,7
539582,29,40055.667969,26718.746094,55599.0,0.027660,0.878314,1.515347,1,8
423718,29,38897.789062,25557.021484,56892.0,-0.019150,0.000507,1.328074,1,9
710228,29,39178.820312,20751.808594,40083.0,0.040290,0.360124,0.920168,1,10
247267,29,39182.589844,25409.972656,54306.0,-0.026832,0.288388,0.638356,1,11
1006702,29,39282.921875,30115.078125,68529.0,-0.195433,0.335868,0.671531,1,12
387357,29,38561.687500,18915.941406,65943.0,0.872508,0.805432,1.016226,1,13
233818,29,40025.488281,26755.121094,59478.0,0.469917,-0.786086,2.852720,1,14
932279,29,40486.285156,28227.054688,62064.0,0.000326,0.342332,1.045205,1,15
1015182,29,39295.398438,26037.203125,55599.0,-0.058715,0.484582,1.019731,1,16
262904,29,39231.445312,28461.222656,63357.0,0.015193,0.343764,0.701367,1,17
386464,29,39213.031250,24191.941406,50427.0,0.013253,0.341360,0.427439,1,18
522935,29,41090.960938,32798.656250,71115.0,0.263016,0.392020,1.558477,1,19
592567,29,38858.093750,29739.917969,68529.0,-0.358859,0.225263,0.654928,1,20
1081349,29,43329.132812,30536.070312,71115.0,0.467643,-0.504966,1.463488,1,21
221609,29,41223.179688,27343.476562,54306.0,0.775893,0.493252,0.939970,1,22
30895,29,40328.414062,26658.164062,56892.0,-0.098670,0.056231,1.333008,1,23
97203,29,39340.597656,21849.691406,45255.0,0.116411,0.158333,0.713249,1,24
210901,29,39268.906250,25790.958984,55599.0,0.117499,0.355683,1.209099,1,25
497233,29,39200.019531,31317.292969,72408.0,0.061965,0.221694,0.540969,1,26
363561,29,39181.304688,30107.232422,68529.0,-0.015583,0.338639,0.809449,1,27
612814,29,39159.148438,19046.310547,34911.0,-0.011728,0.329553,0.807483,1,28
1037264,29,39198.171875,29674.539062,67236.0,-0.011988,0.342955,0.826394,1,29
...,...,...,...,...,...,...,...,...,...
234559,49513,61255.171875,61027.140625,68529.0,-0.079976,-0.037491,0.419898,1,499
1097170,49513,60215.777344,61629.078125,56892.0,0.068173,-0.157375,0.300115,1,500
554846,49513,61654.925781,60523.710938,41376.0,-0.018211,0.016430,1.166687,1,501
375661,49513,61539.421875,60670.156250,49134.0,0.053060,0.082915,1.146254,1,502
917899,49513,61506.199219,60697.445312,47841.0,-0.027088,0.025484,0.770364,1,503
361761,49513,60848.535156,59637.984375,67236.0,-0.168922,-0.097010,0.801806,1,504
648456,49513,62254.023438,61353.710938,64650.0,0.891421,0.488230,0.928413,1,505
937295,49513,61824.191406,60781.277344,65943.0,-0.276948,0.044294,0.552940,1,506
472350,49513,62222.164062,59701.878906,62064.0,-0.157106,-0.408733,0.746361,1,507
1050348,49513,61034.449219,60793.703125,72408.0,-0.197275,-0.157901,0.919578,1,508
989771,49513,61537.785156,60225.929688,54306.0,0.006748,0.008147,0.799557,1,509
286675,49513,61999.375000,60717.769531,49134.0,0.007199,0.217857,0.825392,1,510
780531,49513,61357.785156,60826.617188,50427.0,-0.177567,0.170438,0.360821,1,511
340662,49513,60573.976562,61960.660156,69822.0,-0.364927,0.417443,0.399828,1,512
963875,49513,61275.878906,60817.730469,72408.0,0.035231,-0.002404,0.998048,1,513
560310,49513,61572.753906,60644.062500,45255.0,-0.025614,0.023791,0.879350,1,514
676231,49513,61705.488281,60542.496094,46548.0,0.147805,-0.010942,1.184875,1,515
777031,49513,60231.085938,61437.285156,58185.0,-0.376074,0.063946,1.089636,1,516
241081,49513,59976.433594,59958.273438,69822.0,-0.777902,-0.016518,0.683755,1,517
716450,49513,61705.742188,61344.765625,69822.0,0.544857,0.162937,0.877756,1,518
6870,49513,61669.695312,60782.257812,49134.0,-0.019861,0.023814,0.262423,1,519
553923,49513,61242.175781,60990.566406,64650.0,-0.003130,0.019461,1.042088,1,520
402757,49513,62519.496094,59437.914062,62064.0,0.145722,-0.713235,1.638797,1,521
788567,49513,61540.000000,60750.792969,51720.0,0.026465,0.075349,0.525408,1,522
399606,49513,60762.945312,61879.195312,63357.0,-0.216671,0.520038,0.962046,1,523
812692,49513,60895.886719,61227.917969,65943.0,-0.196173,0.101079,0.692540,1,524
851559,49513,61518.613281,60818.253906,47841.0,-0.158357,0.052483,0.946451,1,525
1077425,49513,61631.410156,60761.085938,51720.0,-0.005004,-0.235463,0.348883,1,526
349215,49513,59241.167969,62873.882812,55599.0,-0.781650,-0.877726,0.428197,1,527
1052292,49513,61314.347656,60508.371094,69822.0,-0.097619,0.139165,0.698733,1,528

In [17]:
# events['unique_id'] = events['event_id'].map(str) + '-' + events['track_id'].map(str)

In [18]:
events.head()

,event_id,X,Y,Z,TX,TY,chi2,signal,track_id
173027,5294,54542.996094,23498.103516,59478.0,-0.267959,0.261389,0.668103,1,0
483923,3009,54336.457031,49987.535156,46548.0,0.070085,0.025079,0.390442,1,0
794522,5586,44833.660156,57492.250000,47841.0,-0.125414,0.163239,0.360280,1,0
310978,29,40527.925781,28469.480469,63357.0,0.363918,-0.078953,1.989602,1,0
805462,5294,58759.496094,20945.890625,58185.0,-0.081031,0.061928,0.708806,1,1

In [19]:
index = pd.MultiIndex.from_arrays([events['event_id'], events['track_id']])

In [20]:
new_events = events.set_index(index)

In [21]:
new_events = new_events.sort_index()

In [22]:
new_events = new_events.drop(['event_id', 'track_id'], axis='columns')

In [23]:
new_events.head()

                              X             Y        Z        TX        TY  \
event_id track_id
29       0         40527.925781  28469.480469  63357.0  0.363918 -0.078953
         1         39118.105469  26100.332031  56892.0 -0.004092  0.308380
         2         38871.402344  29117.496094  67236.0 -0.022586  0.252376
         3         38609.125000  20339.082031  42669.0  0.032143 -0.047359
         4         39159.531250  20733.701172  40083.0 -0.009621  0.297754

                       chi2  signal
event_id track_id
29       0         1.989602       1
         1         0.651321       1
         2         1.155281       1
         3         0.578637       1
         4         1.275150       1

In [24]:
MAX_TRACKS=2500

In [25]:
event_idx = pd.Index(events['event_id'].unique())
track_idx = pd.RangeIndex(0, MAX_TRACKS)

In [26]:
new_index = pd.MultiIndex.from_product([event_idx, track_idx])

In [27]:
final_events = new_events.reindex(index=new_index)

In [28]:
final_events.sort_index()

                       X             Y        Z        TX        TY      chi2  \
29    0     40527.925781  28469.480469  63357.0  0.363918 -0.078953  1.989602
      1     39118.105469  26100.332031  56892.0 -0.004092  0.308380  0.651321
      2     38871.402344  29117.496094  67236.0 -0.022586  0.252376  1.155281
      3     38609.125000  20339.082031  42669.0  0.032143 -0.047359  0.578637
      4     39159.531250  20733.701172  40083.0 -0.009621  0.297754  1.275150
      5     39224.781250  28028.431641  62064.0  0.009552  0.334501  1.064607
      6     40250.796875  33308.226562  72408.0  0.226879  0.598507  0.229727
      7     39117.796875  26492.003906  58185.0  0.011509  0.323582  0.870148
      8     40055.667969  26718.746094  55599.0  0.027660  0.878314  1.515347
      9     38897.789062  25557.021484  56892.0 -0.019150  0.000507  1.328074
      10    39178.820312  20751.808594  40083.0  0.040290  0.360124  0.920168
      11    39182.589844  25409.972656  54306.0 -0.026832  0.288388  0.638356
      12    39282.921875  30115.078125  68529.0 -0.195433  0.335868  0.671531
      13    38561.687500  18915.941406  65943.0  0.872508  0.805432  1.016226
      14    40025.488281  26755.121094  59478.0  0.469917 -0.786086  2.852720
      15    40486.285156  28227.054688  62064.0  0.000326  0.342332  1.045205
      16    39295.398438  26037.203125  55599.0 -0.058715  0.484582  1.019731
      17    39231.445312  28461.222656  63357.0  0.015193  0.343764  0.701367
      18    39213.031250  24191.941406  50427.0  0.013253  0.341360  0.427439
      19    41090.960938  32798.656250  71115.0  0.263016  0.392020  1.558477
      20    38858.093750  29739.917969  68529.0 -0.358859  0.225263  0.654928
      21    43329.132812  30536.070312  71115.0  0.467643 -0.504966  1.463488
      22    41223.179688  27343.476562  54306.0  0.775893  0.493252  0.939970
      23    40328.414062  26658.164062  56892.0 -0.098670  0.056231  1.333008
      24    39340.597656  21849.691406  45255.0  0.116411  0.158333  0.713249
      25    39268.906250  25790.958984  55599.0  0.117499  0.355683  1.209099
      26    39200.019531  31317.292969  72408.0  0.061965  0.221694  0.540969
      27    39181.304688  30107.232422  68529.0 -0.015583  0.338639  0.809449
      28    39159.148438  19046.310547  34911.0 -0.011728  0.329553  0.807483
      29    39198.171875  29674.539062  67236.0 -0.011988  0.342955  0.826394
...                  ...           ...      ...       ...       ...       ...
49513 2470           NaN           NaN      NaN       NaN       NaN       NaN
      2471           NaN           NaN      NaN       NaN       NaN       NaN
      2472           NaN           NaN      NaN       NaN       NaN       NaN
      2473           NaN           NaN      NaN       NaN       NaN       NaN
      2474           NaN           NaN      NaN       NaN       NaN       NaN
      2475           NaN           NaN      NaN       NaN       NaN       NaN
      2476           NaN           NaN      NaN       NaN       NaN       NaN
      2477           NaN           NaN      NaN       NaN       NaN       NaN
      2478           NaN           NaN      NaN       NaN       NaN       NaN
      2479           NaN           NaN      NaN       NaN       NaN       NaN
      2480           NaN           NaN      NaN       NaN       NaN       NaN
      2481           NaN           NaN      NaN       NaN       NaN       NaN
      2482           NaN           NaN      NaN       NaN       NaN       NaN
      2483           NaN           NaN      NaN       NaN       NaN       NaN
      2484           NaN           NaN      NaN       NaN       NaN       NaN
      2485           NaN           NaN      NaN       NaN       NaN       NaN
      2486           NaN           NaN      NaN       NaN       NaN       NaN
      2487           NaN           NaN      NaN       NaN       NaN       NaN
      2488           NaN           NaN      NaN       NaN       NaN       NaN
      2489           NaN           NaN      NaN       NaN       NaN       NaN
      2490           NaN           NaN      NaN       NaN       NaN       NaN
      2491           NaN           NaN      NaN       NaN       NaN       NaN
      2492           NaN           NaN      NaN       NaN       NaN       NaN
      2493           NaN           NaN      NaN       NaN       NaN       NaN
      2494           NaN           NaN      NaN       NaN       NaN       NaN
      2495           NaN           NaN      NaN       NaN       NaN       NaN
      2496           NaN           NaN      NaN       NaN       NaN       NaN
      2497           NaN           NaN      NaN       NaN       NaN       NaN
      2498           NaN           NaN      NaN       NaN       NaN       NaN
      2499           NaN           NaN      NaN       NaN       NaN       NaN

            signal
29    0        1.0
      1        1.0
      2        1.0
      3        1.0
      4        1.0
      5        1.0
      6        1.0
      7        1.0
      8        1.0
      9        1.0
      10       1.0
      11       1.0
      12       1.0
      13       1.0
      14       1.0
      15       1.0
      16       1.0
      17       1.0
      18       1.0
      19       1.0
      20       1.0
      21       1.0
      22       1.0
      23       1.0
      24       1.0
      25       1.0
      26       1.0
      27       1.0
      28       1.0
      29       1.0
...            ...
49513 2470     NaN
      2471     NaN
      2472     NaN
      2473     NaN
      2474     NaN
      2475     NaN
      2476     NaN
      2477     NaN
      2478     NaN
      2479     NaN
      2480     NaN
      2481     NaN
      2482     NaN
      2483     NaN
      2484     NaN
      2485     NaN
      2486     NaN
      2487     NaN
      2488     NaN
      2489     NaN
      2490     NaN
      2491     NaN
      2492     NaN
      2493     NaN
      2494     NaN
      2495     NaN
      2496     NaN
      2497     NaN
      2498     NaN
      2499     NaN

[250000 rows x 7 columns]

In [29]:
final_events['X'].shape

(250000,)

In [30]:
(final_events['X'].shape[0] - np.sum(final_events['X'].isnull()))/final_events['X'].shape[0]

0.143144

In [31]:
final_events.shape

(250000, 7)

In [32]:
fake_events = train_df[train_df['event_id'] == -999][['X', 'Y', 'Z', 'TX', 'TY', 'chi2', 'signal']].copy()

In [33]:
from functools import partial

In [34]:
def f(x):
    return np.where(np.isnan(x), 0, x)

In [35]:
final_events.apply(f, axis=1)

                       X             Y        Z        TX        TY      chi2  \
5294  0     54542.996094  23498.103516  59478.0 -0.267959  0.261389  0.668103
      1     58759.496094  20945.890625  58185.0 -0.081031  0.061928  0.708806
      2     58396.617188  20576.623047  59478.0 -0.473126 -0.210435  0.620557
      3     58252.394531  21007.179688  59478.0 -0.087523  0.058310  0.847460
      4     60132.343750  20679.722656  60771.0  0.116383 -0.047196  1.613834
      5     59495.906250  20348.152344  46548.0 -0.367308  0.121312  0.730988
      6     58277.437500  22472.255859  72408.0 -0.136258  0.123805  0.926889
      7     58040.007812  22165.589844  71115.0 -0.103916  0.093987  0.721907
      8     57866.343750  20706.886719  71115.0  0.326321 -0.242374  1.013186
      9     59371.265625  20762.117188  53013.0 -0.068513  0.080501  0.353703
      10    59057.902344  21066.675781  56892.0 -0.087905  0.038625  1.093449
      11    60116.062500  19903.240234  41376.0 -0.063760  0.078130  0.880262
      12    57914.976562  21999.558594  68529.0 -0.145326  0.267541  1.239583
      13    59245.136719  21897.339844  62064.0 -0.044457  0.096512  0.600536
      14    59691.976562  23015.414062  68529.0 -0.249684  0.647400  1.442188
      15    58504.140625  21265.820312  62064.0 -0.074837  0.153930  0.600891
      16    59098.484375  21808.109375  60771.0  0.145043  0.092918  0.944168
      17    59721.261719  20396.851562  47841.0 -0.070689  0.057789  0.882577
      18    56877.511719  24830.855469  71115.0 -0.281971  0.492825  0.781042
      19    58521.457031  21801.667969  67236.0 -0.081390  0.084398  0.793350
      20    60128.214844  19882.496094  41376.0 -0.060589  0.062416  1.264454
      21    59528.101562  20676.171875  54306.0  0.235607 -0.082738  0.360168
      22    60639.699219  21362.613281  54306.0  0.308850  0.239425  0.690721
      23    59681.882812  20777.437500  46548.0 -0.341443  0.408464  1.909332
      24    59686.589844  22037.613281  62064.0  0.388839  0.031073  1.636620
      25    57772.976562  22659.726562  72408.0 -0.193797  0.020466  0.590399
      26    58091.445312  20132.687500  50427.0 -0.314700 -0.064067  0.985019
      27    60259.675781  21730.919922  67236.0  0.040123  0.112184  0.744838
      28    58449.265625  21860.378906  63357.0 -0.056306  0.208045  0.760701
      29    59789.312500  20508.472656  54306.0  0.014500 -0.031483  1.556037
...                  ...           ...      ...       ...       ...       ...
19167 2470      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2471      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2472      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2473      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2474      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2475      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2476      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2477      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2478      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2479      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2480      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2481      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2482      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2483      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2484      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2485      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2486      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2487      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2488      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2489      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2490      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2491      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2492      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2493      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2494      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2495      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2496      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2497      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2498      0.000000      0.000000      0.0  0.000000  0.000000  0.000000
      2499      0.000000      0.000000      0.0  0.000000  0.000000  0.000000

            signal
5294  0        1.0
      1        1.0
      2        1.0
      3        1.0
      4        1.0
      5        1.0
      6        1.0
      7        1.0
      8        1.0
      9        1.0
      10       1.0
      11       1.0
      12       1.0
      13       1.0
      14       1.0
      15       1.0
      16       1.0
      17       1.0
      18       1.0
      19       1.0
      20       1.0
      21       1.0
      22       1.0
      23       1.0
      24       1.0
      25       1.0
      26       1.0
      27       1.0
      28       1.0
      29       1.0
...            ...
19167 2470     0.0
      2471     0.0
      2472     0.0
      2473     0.0
      2474     0.0
      2475     0.0
      2476     0.0
      2477     0.0
      2478     0.0
      2479     0.0
      2480     0.0
      2481     0.0
      2482     0.0
      2483     0.0
      2484     0.0
      2485     0.0
      2486     0.0
      2487     0.0
      2488     0.0
      2489     0.0
      2490     0.0
      2491     0.0
      2492     0.0
      2493     0.0
      2494     0.0
      2495     0.0
      2496     0.0
      2497     0.0
      2498     0.0
      2499     0.0

[250000 rows x 7 columns]

In [36]:
wrong_inputs = fake_events.sample(len(np.isnan(final_events)), replace=False).values

In [37]:
new_full_values = np.where(np.isnan(final_events.values), wrong_inputs, final_events.values)

In [38]:
new_values_df = pd.DataFrame(data=new_full_values, index=final_events.index, columns=final_events.columns)

In [39]:
new_values_df.shape

(250000, 7)

In [44]:
new_values_df.head()

                   X             Y        Z        TX        TY      chi2  \
5294 0  54542.996094  23498.103516  59478.0 -0.267959  0.261389  0.668103
     1  58759.496094  20945.890625  58185.0 -0.081031  0.061928  0.708806
     2  58396.617188  20576.623047  59478.0 -0.473126 -0.210435  0.620557
     3  58252.394531  21007.179688  59478.0 -0.087523  0.058310  0.847460
     4  60132.343750  20679.722656  60771.0  0.116383 -0.047196  1.613834

        signal
5294 0     1.0
     1     1.0
     2     1.0
     3     1.0
     4     1.0

In [40]:
# new_values_df.to_pickle('Reshape_test.pkl')

In [59]:
N_FEATURES = 7 # include target for now

In [64]:
events_array = new_values_df.values.reshape((-1, MAX_TRACKS, N_FEATURES))

In [69]:
events_array[0, :, 6]

array([1., 1., 1., ..., 0., 0., 0.])

In [70]:
# shuffling  tracks (axis 1)

In [81]:
[print(a) for a in events_array[:2, :2]]

[[ 5.45429961e+04  2.34981035e+04  5.94780000e+04 -2.67959446e-01
   2.61388570e-01  6.68103456e-01  1.00000000e+00]
 [ 5.87594961e+04  2.09458906e+04  5.81850000e+04 -8.10314342e-02
   6.19280152e-02  7.08805799e-01  1.00000000e+00]]
[[ 5.43364570e+04  4.99875352e+04  4.65480000e+04  7.00846389e-02
   2.50790548e-02  3.90441984e-01  1.00000000e+00]
 [ 5.58881172e+04  5.04235156e+04  6.46500000e+04 -1.17768787e-01
   1.68894157e-01  1.94157517e+00  1.00000000e+00]]

[None, None]

In [84]:
list(map(np.random.shuffle, events_array[:,:]))

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [93]:
np.save('events_array.npy', events_array)